*{
    margin: 0;
    box-sizing: border-box;
}
/* MEDIA DEL INDEX */


@media (min-width: 768px) {

       .Header {
        height: 80px;
    }

    .Header img  {
        padding: 2px auto;
        margin-left: 40px;
        height: 90px;
    }

    .Header__Menu .Menu {
        top: 82px
    }
    
    .Header__Buscador {
    display: inline;
    position: absolute;
    top: 12px;
    right: 70px;  
    font-size: 25px;
    }
    
    .Header__Buscador input {
        background: linear-gradient(1deg, #51b7e3, #fff);
        opacity: 0.9;
        border: none;
     } */

    /* QUERYS MAIN */
    .Marca{

        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    .Marca .First__Grid h2,
    .Marca .First__Grid p {
        font-size: 18px;
    }

    .Marca .Second__Grid iframe   {
        width: 90%;
        height: 100%;
    }
    /* Acomodar la animación */
    #Principal__Section .Title__Two  { 
        padding: 30px;
        font-size: 30px;
    }

    .Main__Variety {
        margin: 30px auto;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
/* VARIETY ONE */
    .Main__Variety .Variety__One,
    .Main__Variety .Variety__One p,
    .Main__Variety .Variety__One img{
        grid-column: 1/3;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        margin: 10px auto;
        font-size: 16px;
    }
    .Variety__One h3 {
        margin-bottom: 3px;
        font-size: 25px;
    }
/* VARIETY TWO */

    .Main__Variety .Variety__Two,
    .Main__Variety .Variety__Two p,
    .Main__Variety .Variety__Two img {
        grid-row: 2 / 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 90%;
        font-size: 18px;
    }

    .Variety__Two h3 {
        font-size: 20px;
    }
     
    /* VARIETY SEVEN */
    .Main__Variety .Variety__Seven,
    .Main__Variety .Variety__Seven p,
    .Main__Variety.Variety__Seven img {
        grid-column: span 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px auto;
        font-size: 18px;
    }
    
    .Main__Variety .Variety__Seven h3 {
        margin-bottom: 8px;
        font-size: 25px;
    }
   } 


   @media (min-width: 1024px) 
   {
       .Marca .First__Grid {
        width: 95%;
        font-size: 30px;
        }

        .Marca .First__Grid h2 {
            font-size: 50px;
        }
        
      .Marca .Second__Grid iframe
       {
        height: 200px;
        width: 95%;
        margin-top: 8px;
       } 

       .Main__Variety {
           grid-template-columns: repeat(3,1fr);
       }

        .Main__Variety .Variety__One {
        grid-column: 2 / 4
       }

       .Main__Variety .Variety__Two {
        grid-row: 1/4;
       }

       .Main__Variety .Variety__Two img{
        height: 50%;
       }

       .Main__Variety .Variety__Seven{
        grid-column: 1/-1
       }

       .Footer {
           font-size: 30px;
       }
       .Social__Network i {
           padding: 0px 40px;
       }

       .Footer p {
           font-size: 25px
       }
   }

   /* QUERYS ROUTES. */
   @media (min-width: 768px){

    .Title__Routes {
        margin-top: 60px;
        padding: 20px;
        
    }

    .Title__Routes h1,
    .Title__Routes h3 {
        margin: 10px auto 0px;
        font-size: 60px;
    }

    .Rutas .Title__Routes--Second {
        margin: 10px auto;
        font-size: 60px;
        border-bottom: 2px #000 solid ;
        background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
    }

    .Rutas .Rutas__Listas {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    }
}

@media (min-width: 1024px) {

    .Rutas .Rutas__Listas {
        width: 100%;
        margin: auto;
        grid-template-columns: repeat(4,1fr);
        gap: 0.5rem;
    }    
}

/* QUERYS CREATE YOUR ROUTE */

@media (min-width: 768px) {

    .Title__Second {
        font-size: 60px;
    }

    .Form {
        margin: 30px auto;
        font-size: 30px;
    }

    
}

@media (min-width: 1024px) {

    .Title__Second {
        font-size: 100px;
    }
    .Form .Image__Create {
        width: 90%;
    }
    .Image__Create img {
        height: 300px;
    }
}

/* QUERYS RECOMENDATIONS */

@media (min-width: 768px) {

    #Recomendaciones .Header__Section{
        height: 200px;
    }

    #Recomendaciones .Recomendations__Title{
        font-size: 60px;
    }

    #Recomendaciones .Section__General .Section__First {
        grid-template-columns: 1fr 1fr;
    }

    #Recomendaciones .Section__General .Section__First .Section__Sub {
        background: none;
        border: none;
        margin-top: 20px;
    }

    .Section__First .Section__Sub span {
    width: 100%;
    height: auto;
    

    background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
    border-radius: 20px 0px;
    }
    
    #Recomendaciones .Before__Footer{
        font-size: 30px;
    }

}

/* Querys Contact */

@media (min-width: 768px) {
    .Contact .Title__Contact h1 {
        font-size: 60px;
    }
}

@media (min-width: 1024px) {
    
    .Contact .Title__Contact h1{
        font-size: 100px;
    }

    .Contact .Contact__Second{
        background: url(../img/Background.jpg) center;
        background-size: cover;
    }
    .Contact .Contact__Second Form .Contact__List{
    color: #000;
    text-shadow: 0.1rem 0.1rem #fff;
    font-size: 35px;

    }
    .Contact .Contact__Second Form .Contact__List label {
    border-left: 3px black solid;
    border-right: 3px black solid;
    border-radius: 40%;    
    }
    .Contact .Contact__Second form .Contact__List #Sugerencias {
        color: #000;
    }
}



