@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap");
@-webkit-keyframes Primera__Animacion {
  0% {
    border-radius: 5px;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  25% {
    border-radius: 10px;
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
  50% {
    background: #b1afaf;
    color: black;
    border-radius: 15px;
  }
  75% {
    background: #538ba2;
    border-radius: 20px;
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
    color: #000;
    border-radius: 30px;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes Primera__Animacion {
  0% {
    border-radius: 5px;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  25% {
    border-radius: 10px;
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
  50% {
    background: #b1afaf;
    color: black;
    border-radius: 15px;
  }
  75% {
    background: #538ba2;
    border-radius: 20px;
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
    color: #000;
    border-radius: 30px;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes Second__Animation {
  0% {
    border: 2px #979595 dashed;
  }
  25% {
    font-size: 15px;
  }
  40% {
    font: 18px;
  }
  50% {
    font-size: 20px;
  }
  100% {
    border-bottom: 5px #032e39 solid;
  }
}

@keyframes Second__Animation {
  0% {
    border: 2px #979595 dashed;
  }
  25% {
    font-size: 15px;
  }
  40% {
    font: 18px;
  }
  50% {
    font-size: 20px;
  }
  100% {
    border-bottom: 5px #032e39 solid;
  }
}

@-webkit-keyframes Third__Animation {
  0% {
    border-radius: 0px 10px 0px 0px;
    background: #538ba2;
  }
  10% {
    border-radius: 10px 20px 10px 20px;
    background: #538ba2;
  }
  20% {
    border-radius: 10px 30px 10px 30px;
    background: #66a6c1;
  }
  30% {
    border-radius: 15px 30px 15px 30px;
    background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
  }
  60% {
    border-radius: 20px 40px 20px 40px;
    background: #538ba2;
  }
  70% {
    border-radius: 20px 45px 20px 45px;
    background: #538ba2;
  }
  80% {
    border-radius: 25px 50px 20px 50px;
    background: #66a6c1;
  }
  100% {
    border-radius: 30px 60px 30px 60px;
    background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
  }
}

@keyframes Third__Animation {
  0% {
    border-radius: 0px 10px 0px 0px;
    background: #538ba2;
  }
  10% {
    border-radius: 10px 20px 10px 20px;
    background: #538ba2;
  }
  20% {
    border-radius: 10px 30px 10px 30px;
    background: #66a6c1;
  }
  30% {
    border-radius: 15px 30px 15px 30px;
    background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
  }
  60% {
    border-radius: 20px 40px 20px 40px;
    background: #538ba2;
  }
  70% {
    border-radius: 20px 45px 20px 45px;
    background: #538ba2;
  }
  80% {
    border-radius: 25px 50px 20px 50px;
    background: #66a6c1;
  }
  100% {
    border-radius: 30px 60px 30px 60px;
    background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  background-color: #276e9033 !important;
}

/* Header para pantallas pequeñas */
.ownClass {
  height: auto !important;
  margin-bottom: 30px;
  background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
  font-size: 20px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 800;
  border-radius: 0px 0px 30% 0px;
  text-shadow: -2px -2px 4px white;
}

.ownClass .Logo {
  width: 100px;
}

.ownClass ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ownClass ul a:hover {
  -webkit-animation: Primera__Animacion 1.2s ease-in-out forwards;
          animation: Primera__Animacion 1.2s ease-in-out forwards;
}

/* Footer */
.Footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  text-shadow: -2px -2px 4px white;
}

.Footer .Enlace {
  width: 80%;
  height: 50px;
  margin: auto;
}

.Footer .Enlace a {
  text-decoration: none;
  color: #000;
  background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
  border-radius: 30px;
}

.Footer .Enlace a:hover {
  cursor: pointer;
  border: 3px white ridge;
}

.Footer .Social__Network {
  margin-top: 20px;
  width: 100%;
  background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
  border-radius: 30% 0% 0px 0px;
}

.Footer .Social__Network a {
  padding: 0 40px;
}

.Footer .Social__Network a i {
  font-size: 30px;
  color: #000;
  margin: 10px auto;
}

.Footer .Social__Network p {
  text-transform: capitalize;
  font-weight: 600;
}

/* Marca and Video */
#Principal__Section {
  width: 90%;
  height: auto;
  margin: 60px auto 20px auto;
  text-align: center;
}

#Principal__Section .Marca {
  width: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 0.1rem;
  scroll-behavior: smooth;
}

#Principal__Section .Marca .First__Grid {
  background-image: url(../img/blue_mountains_cliff_edge.jpg);
  background-position: top;
  margin: 40px auto 0px auto;
  font-weight: 700;
  border-radius: 20px;
}

#Principal__Section .Marca .First__Grid h2 {
  font-size: 30px;
  font-style: italic;
}

#Principal__Section .Marca .First__Grid p {
  margin-bottom: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

#Principal__Section .Title__Two {
  text-transform: capitalize;
  margin: auto;
  padding: 20px;
  font-size: 15px;
  text-shadow: -2px -2px 4px white;
}

#Principal__Section .Title__Two a {
  text-decoration: none;
  color: black;
  background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
  border-radius: 10px;
  margin: 20px auto;
}

#Principal__Section .Title__Two a:hover {
  -webkit-animation-name: Second__Animation;
          animation-name: Second__Animation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.Main__Variety {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2rem;
}

.Main__Variety .Variety__One,
.Main__Variety .Variety__Two,
.Main__Variety .Variety__Three,
.Main__Variety .Variety__Four,
.Main__Variety .Variety__Five,
.Main__Variety .Variety__Six,
.Main__Variety .Variety__Seven {
  border-radius: 30px 0px;
  border: transparent;
  background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
  text-shadow: -2px -2px 4px white;
}

.Main__Variety .Variety__One h3,
.Main__Variety .Variety__Two h3,
.Main__Variety .Variety__Three h3,
.Main__Variety .Variety__Four h3,
.Main__Variety .Variety__Five h3,
.Main__Variety .Variety__Six h3,
.Main__Variety .Variety__Seven h3 {
  padding: 20px 0px;
  font-size: 20px;
  font-style: italic;
}

.Main__Variety .Variety__One img,
.Main__Variety .Variety__Two img,
.Main__Variety .Variety__Three img,
.Main__Variety .Variety__Four img,
.Main__Variety .Variety__Five img,
.Main__Variety .Variety__Six img,
.Main__Variety .Variety__Seven img {
  margin-bottom: 20px;
  border-radius: 30px 0px;
}

.Main__Variety .Variety__One p,
.Main__Variety .Variety__Two p,
.Main__Variety .Variety__Three p,
.Main__Variety .Variety__Four p,
.Main__Variety .Variety__Five p,
.Main__Variety .Variety__Six p,
.Main__Variety .Variety__Seven p {
  display: none;
}

/* Inicio de pagaina de rutas. */
.Title__Routes {
  width: 90%;
  height: auto;
  margin: 100px auto 0px auto;
  text-align: center;
  text-shadow: -2px -2px 4px white;
}

.Title__Routes h1 {
  width: 80%;
  margin: auto;
  background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
  border-radius: 30px 0px;
  border-bottom: 3px black solid;
  font-size: 60px;
  font-style: italic;
  text-align: center;
}

.Title__Routes h3 {
  width: 80%;
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 3px black solid;
  background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
  border-radius: 30px 0px;
  font-style: italic;
  font-weight: none;
}

.Rutas {
  width: 98%;
  height: auto;
  margin: 10px auto;
}

.Rutas .Rutas__Listas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  text-align: center;
}

.Rutas .Rutas__Listas .Rutas__Rutas {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 18px;
  margin: 10px auto;
  text-shadow: -2px -2px 4px white;
}

.Rutas .Rutas__Listas .Rutas__Rutas a {
  text-decoration: none;
  color: black;
}

.Rutas .Rutas__Listas .Rutas__Rutas a span {
  width: 90%;
  font-size: 26px;
  font-weight: 800;
  background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
  border-radius: 30%;
}

.Rutas .Rutas__Listas .Rutas__Rutas a span:hover {
  background: transparent;
  color: #000;
}

.Rutas .Rutas__Listas .Rutas__Rutas a:hover {
  width: 90%;
  margin: 0px auto;
  -webkit-animation-name: Third__Animation;
          animation-name: Third__Animation;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.Rutas .Rutas__Listas .Rutas__Rutas img {
  margin: 10px auto;
  width: 80%;
  height: auto;
  border-radius: 30px 0px;
}

.Rutas .Title__Routes--Second {
  width: 80%;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 3px black solid;
  background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
  border-radius: 30px 0px;
  text-shadow: -2px -2px 4px white;
  text-align: center;
  font-style: italic;
  font-weight: none;
  font-size: 40px;
}

/* Page create your route */
.Title__Second {
  width: 90%;
  margin: 90px auto 0px;
  background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
  border-radius: 30px 0px;
  border-bottom: 3px black solid;
  font-size: 60px;
  font-style: italic;
  text-align: center;
  text-shadow: -2px -2px 4px white;
}

.Form {
  width: 90%;
  height: auto;
  margin: 60px auto;
  background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px 0px;
}

.Form .Image__Create {
  height: auto;
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Form .Image__Create img {
  width: 90%;
  border-radius: 30px 0px;
}

.Form .Form__Form {
  width: 90%;
  height: auto;
  margin: 0px auto 20px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  text-align: center;
  font-size: auto;
  text-shadow: -2px -2px 4px white;
}

.Form .Form__Form .Button {
  margin: 5px auto;
}

.Form .Form__Form .Button input {
  border: none;
  border-bottom: #000 2px solid;
  border-radius: 10px;
  background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
}

.Form .Form__Form .Button #Ruta {
  border-bottom: 2px black solid;
  border-radius: 10px;
  background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
}

.Form .Form__Form .Button #Options {
  border-bottom: #000 2px solid;
  border-radius: 10px;
  background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
}

.Form .Form__Form .Button #coments {
  width: 80%;
  height: auto;
  background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
  border: 0.5px #000 solid;
}

.Form .Form__Form .Button .Invitation {
  width: 50%;
  height: auto;
  margin: 10px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* Page of Recomendation */
#Recomendaciones {
  width: 90%;
  height: auto;
  margin: 90px auto 0px;
  text-shadow: -2px -2px 4px white;
}

#Recomendaciones .Recomendations__Title {
  width: 95%;
  margin: 10px auto;
  text-align: center;
  border-radius: 30px 0px;
  font-style: italic;
  background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
}

#Recomendaciones .Recomendations__Subtitle {
  margin: 20px auto;
  text-align: center;
  font-size: 40px;
  background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
  border-radius: 30px 0px;
}

#Recomendaciones .Header__Section {
  width: 100%;
  height: 100px;
}

#Recomendaciones .Section__General .Section__First {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 0.5em;
  margin: 10px auto;
}

#Recomendaciones .Section__General .Section__First .Section__Sub {
  width: 100%;
  height: auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
  border-radius: 30px 0px;
}

#Recomendaciones .Section__General .Section__First ul {
  text-align-last: center;
}

#Recomendaciones .Section__General .Section__First ul li {
  list-style: devanagari;
  margin: 20PX 10px;
}

#Recomendaciones .Before__Footer {
  background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
  text-align: center;
  text-transform: capitalize;
  border-radius: 30px 0px;
}

.Contact {
  width: 95%;
  height: auto;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.Contact .Title__Contact {
  margin: 90px auto 20px;
  background: linear-gradient(100deg, #66a6c1, #538ba2, #b1afaf) 30%;
  width: 90%;
  text-align: center;
  border-radius: 30px 0px;
  text-shadow: -2px -2px 4px white;
}

.Contact .Title__Contact h1 {
  width: 85%;
  margin: 0 auto;
  font-size: 30px;
}

.Contact h5 {
  width: 95%;
  height: auto;
  margin: 10px auto 20px auto;
  letter-spacing: 0.5px;
  word-spacing: 3px;
  text-align: center;
}

.Contact .Contact__Second {
  width: 95%;
  margin: 5px auto;
  background-image: url(../img/header__contactanos.jpg);
  background-repeat: no-repeat;
  background-size: cover 100%;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px 0px;
}

.Contact .Contact__Second .Contact__Primera .Contact__Image {
  display: none;
}

.Contact .Contact__Second Form .Contact__List {
  margin: 10px auto;
  font-size: 20px;
  color: #fff;
  text-shadow: 0.1rem 0.1rem black;
}

.Contact .Contact__Second Form .Contact__List label {
  border-left: 3px #fff solid;
  border-radius: 40%;
}

.Contact .Contact__Second Form .Contact__List #Nombre {
  background: transparent;
  border: none;
  cursor: pointer;
}

.Contact .Contact__Second Form .Contact__List #Apellido {
  background: transparent;
  border: none;
  cursor: pointer;
}

.Contact .Contact__Second Form .Contact__List #Email {
  background: transparent;
  border: none;
  cursor: pointer;
}

.Contact .Contact__Second Form .Contact__List #Sugerencias {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  width: 90%;
  height: 200px;
  margin: 10px;
  border: 0.5px #fff dashed;
  border-radius: 30px 0px;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */