@import 'animation';
@import 'variety';


@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    background-color: #276e90 !important;
}

/* Header para pantallas pequeñas */

.ownClass {
    background: $Color__Back;
    font-size: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 800;
    border-radius: 0px 0px 30% 0px;
    .Logo {
        width: 200px;     
    }
        ul {
            align-items: center;
            a:hover{
                animation: Primera__Animacion 1.2s ease-in-out forwards;
        }

    }
}


/* Footer */

.Footer {
    display: flex;
    flex-direction: column;
    text-align: center;
        .Enlace {
            width: 80%;
            height: 50px;
            margin: auto;
            
            a{
                text-decoration: none;
                color: #000;
                background: $Color__Back;
                border-radius: 30px;        
            }
            a:hover{
                cursor: pointer;
                border: 3px white ridge;
            }
        }

      .Social__Network {
        margin-top: 20px;
        width: 100%;
        background: $Color__Back;

            a{
                padding: 0 40px;
                
                i{
                    font-size: 30px;
                    color: #000;
                    margin: 10px auto;
                }
            }
            p {
                text-transform: capitalize;
                font-weight:600
            }
      }  
}

/* Marca and Video */

#Principal__Section {
    width: 90%;
    height: auto;
    margin: 60px auto 20px auto;
    text-align: center;


        .Marca{
        width: auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.1rem;
        scroll-behavior: smooth;

            .First__Grid {
                background-image: url(../img/blue_mountains_cliff_edge.jpg);
                background-position: top;
                margin: 15px auto;
                font-weight: 700;
                border-radius: 20px;

                & h2{
                    font-size: 30px;
                    font-style: italic;
                }
            }
        }

        .Title__Two {
            text-transform: capitalize;
            margin: auto;
            padding: 20px;
            font-size: 15px;
            a {
                text-decoration: none;
                color: black;
                background: $Color__Back;
                border-radius: 10px;
                margin: 20px auto;
            }

            a:hover {
                animation-name: Second__Animation;
                animation-duration: 2s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite; 
            }
        }
}

.Main__Variety {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    .Variety__One,
    .Variety__Two,
    .Variety__Three,
    .Variety__Four,
    .Variety__Five,
    .Variety__Six,
    .Variety__Seven {
    border-radius: 30px 0px;
    border: transparent;
    background: $Color__Back;
        h3{
            padding: 20px 0px;
            font-size: 20px;
            font-style: italic;
        }
        img{
            margin-bottom: 20px ;
             border-radius: $Border__Comun;
        }
        p {
            display: none;
        }

    }
} 



/* Inicio de pagaina de rutas. */

.Title__Routes {
width: 98%;
height: auto;
margin: 30px auto 0px auto;
text-align: center;

    h1{
    width: 60%;
    margin: auto;
    background: $Color__Back;
    border-radius: 20px;
    font-size: 60px;
    font-style: italic;
    text-align: center;
    }

    h3{
    width: 50%;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 3px black solid;
    background: $Color__Back; 
    border-radius: 30px;  
    font-style: italic;
    font-weight: none;
    }
}

.Rutas {
    width: 98%;
    height: auto;
    margin: 10px auto;

    .Rutas__Listas{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;

        .Rutas__Rutas{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            font-size: 18px;
            margin: 10px auto;
           
            a{
                text-decoration: none;
                color: black;

                span{
                width: 90%;
                font-size: 26px;
                font-weight: 800;
                background: $Color__Back;
                border-radius: 30%;
                }
                span:hover{
                    background: transparent;
                    color: #000;
                }
            }

            a:hover{
            width: 90%;
            margin: 0px auto;
            animation-name: Third__Animation;
            animation-duration: 3s; 
            animation-fill-mode: forwards;
            animation-timing-function: ease-in;
            }

            img{
            margin: 10px auto;
            width: 80%;
            height: auto;
            border-radius: 30px 0px;
            }

            p{
                background: $Color__Back;
            }
        }
    }

    .Title__Routes--Second{
    width: 50%;

    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    border-bottom: 3px black solid;
    background: $Color__Back; 
    border-radius: 30px;  
    text-align: center;
    font-style: italic;
    font-weight: none; 
    font-size: 40px;
    }
}

/* Page create your route */





