@import 'animation';
@import 'variety';


@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    background-color: #276e9033 !important;
}

/* Header para pantallas pequeñas */

.ownClass {
    height: auto !important;
    margin-bottom: 30px;
    background: $Color__Back;
    font-size: 20px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 800;
    border-radius: 0px 0px 30% 0px;
    .Logo {
        width: 100px;     
    }
        ul {
            align-items: center;
            a:hover{
                animation: Primera__Animacion 1.2s ease-in-out forwards;
        }

    }
}


/* Footer */

.Footer {
    display: flex;
    flex-direction: column;
    text-align: center;

        .Enlace {
            width: 80%;
            height: 50px;
            margin: auto;
            
            a{
                text-decoration: none;
                color: #000;
                background: $Color__Back;
                border-radius: 30px;        
            }
            a:hover{
                cursor: pointer;
                border: 3px white ridge;
            }
        }

      .Social__Network {
        margin-top: 20px;
        width: 100%;
        background: $Color__Back;
        border-radius: 30% 0% 0px 0px;

            a{
                padding: 0 40px;
                
                i{
                    font-size: 30px;
                    color: #000;
                    margin: 10px auto;
                }
            }
            p {
                text-transform: capitalize;
                font-weight:600
            }
      }  
}

/* Marca and Video */

#Principal__Section {
    width: 90%;
    height: auto;
    margin: 60px auto 20px auto;
    text-align: center;


        .Marca{
        width: auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.1rem;
        scroll-behavior: smooth;

            .First__Grid {
                background-image: url(../img/blue_mountains_cliff_edge.jpg);
                background-position: top;
                margin: 15px auto;
                font-weight: 700;
                border-radius: 20px;

                & h2{
                    font-size: 30px;
                    font-style: italic;
                }
            }
        }

        .Title__Two {
            text-transform: capitalize;
            margin: auto;
            padding: 20px;
            font-size: 15px;
            a {
                text-decoration: none;
                color: black;
                background: $Color__Back;
                border-radius: 10px;
                margin: 20px auto;
            }

            a:hover {
                animation-name: Second__Animation;
                animation-duration: 2s;
                animation-fill-mode: forwards;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite; 
            }
        }
}

.Main__Variety {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    .Variety__One,
    .Variety__Two,
    .Variety__Three,
    .Variety__Four,
    .Variety__Five,
    .Variety__Six,
    .Variety__Seven {
    border-radius: 30px 0px;
    border: transparent;
    background: $Color__Back;
        h3{
            padding: 20px 0px;
            font-size: 20px;
            font-style: italic;
        }
        img{
            margin-bottom: 20px ;
             border-radius: $Border__Comun;
        }
        p {
            display: none;
        }

    }
} 



/* Inicio de pagaina de rutas. */

.Title__Routes {
width: 90%;
height: auto;
margin: 30px auto 0px auto;
text-align: center;

    h1{
    width: 80%;
    margin: auto;
    background: $Color__Back;
    border-radius: $Border__Comun;
    font-size: 60px;
    font-style: italic;
    text-align: center;
    }

    h3{
    width: 80%;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 3px black solid;
    background: $Color__Back; 
    border-radius: $Border__Comun;  
    font-style: italic;
    font-weight: none;
    }
}

.Rutas {
    width: 98%;
    height: auto;
    margin: 10px auto;

    .Rutas__Listas{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;

        .Rutas__Rutas{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            font-size: 18px;
            margin: 10px auto;
           
            a{
                text-decoration: none;
                color: black;

                span{
                width: 90%;
                font-size: 26px;
                font-weight: 800;
                background: $Color__Back;
                border-radius: 30%;
                }
                span:hover{
                    background: transparent;
                    color: #000;
                }
            }

            a:hover{
            width: 90%;
            margin: 0px auto;
            animation-name: Third__Animation;
            animation-duration: 3s; 
            animation-fill-mode: forwards;
            animation-timing-function: ease-in;
            }

            img{
            margin: 10px auto;
            width: 80%;
            height: auto;
            border-radius: 30px 0px;
            }

            p{
                background: $Color__Back;
            }
        }
    }

    .Title__Routes--Second{
    width: 80%;

    margin-bottom: 30px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    border-bottom: 3px black solid;
    background: $Color__Back; 
    border-radius: $Border__Comun;  
    text-align: center;
    font-style: italic;
    font-weight: none; 
    font-size: 40px;
    }
}

/* Page create your route */

.Title__Second {
    width: 90%;
    margin: 30px auto;
    background: $Color__Back;
    border-radius: $Border__Comun;
    font-size: 40px;
    font-style: italic;
    text-align: center;
}

.Form {
    width: 90%;
    height: auto;
    margin: 60px auto;
    background: $Color__Back;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: $Border__Comun;
    .Image__Create{
        height: auto;
        margin: 30px auto ;
        display: flex;
        justify-content: center;
        img{
            width: 90%;
            border-radius: $Border__Comun;
        }
    }
    .Form__Form{
        width: 90%;
        height: auto;
        margin: 0px auto 20px auto;
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
        font-size: auto;
        .Button{
        margin: 5px auto;
            input{
            border: none;
            border-bottom: #000 2px solid;
            border-radius: 10px;
            background: $Color__Back; 
            }
            #Ruta{
            border-bottom: 2px black solid;
            border-radius: 10px;
            background: $Color__Back;     
            }
            #Options{
            border-bottom:#000 2px solid ;
            border-radius: 10px;
            background: $Color__Back;
            }
            #coments{
            width: 80%;
            height: auto;
            background: $Color__Back;
            border: 0.5px #000 solid;    
            }
        .Invitation{
            width: 50%;
            height: auto;
            margin: 10px auto;
            align-items: center;
            display: flex;
            flex-direction: column;
        }
        }  
    }
}
/* Page of Recomendation */

#Recomendaciones {
    width: 90%;
    height: auto;
    margin: 20px auto;
    .Recomendations__Title {
    text-align: center;
    font-size: 40px;
    border-radius: $Border__Comun;
    font-style: italic;
    background:$Color__Back;
    }
    .Recomendations__Subtitle {
        margin: 20px auto;
        text-align: center;
        font-size: 40px;
        background: $Color__Back;
        border-radius: $Border__Comun;
    }
    .Header__Section{
        width: 100%;
        height: 100px;
    }
    .Section__General{
        .Section__First {
            display: grid;
            grid-template-columns: 1fr;
            gap: 0.5em;
            margin: 10px auto;
            .Section__Sub {
                width: 100%;
                height: auto;
                text-align: center;
                align-items: center;
                font-size: 30px;
                background: $Color__Back;
                border-radius: $Border__Comun;
            }
            ul{
                text-align-last: center;
                li{
                list-style: devanagari;
                margin: 20PX 10px
                }
            }
        }
    }
    .Before__Footer {
        background: $Color__Back;
        text-align: center;
        text-transform: capitalize;
        border-radius: $Border__Comun;
    }
}

.Contact{
    width: 95%;
    height: auto;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    & .Title__Contact{
        margin: 10px auto;
        background: $Color__Back;   
        width: 90%;
        text-align: center;
        border-radius: $Border__Comun;
        h1{
            width: 85%;
            margin: 0 auto;
            font-size: 30px;
        }
    }   
    & h5{
        width: 95%;
        height: auto;
        margin: 10px auto 20px auto;
        letter-spacing: 0.5px;
        word-spacing: 3px;
        text-align: center;
    }
    .Contact__Second{
        width: 95%;
        margin: 5px auto;
        background-image: url(../img/header__contactanos.jpg);
        background-repeat: no-repeat;
        background-size: cover 100%;
        background-position: center;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        .Contact__Primera{
            .Contact__Image{
                display: none;
            }
        }

        & Form{
            .Contact__List{
            margin: 10px auto;
            font-size: 20px;
            color: #fff;
            text-shadow: 0.1rem 0.1rem black;
            label  {
                border-left: 3px #fff solid;
                border-radius: 40%;
            }

                    #Nombre{
                    background: transparent;
                    border: none;
                    cursor: pointer; }
                    #Apellido{
                    background: transparent;
                    border: none;
                    cursor: pointer;}
                    #Email{
                    background: transparent;
                    border: none;
                    cursor: pointer;}
                    #Sugerencias{
                    align-items: center;
                    background: none;
                    width: 90%;
                    height: 200px;
                    margin: 10px;
                    border: 0.5px #fff dashed;
                    border-radius: 20%;
                    color: #fff;}
                
            }
        }
    }
}

